@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
    overflow: visible;
}

.swiper-button-disabled {
    @apply opacity-20
}

.richtext img {
    @apply mx-auto rounded-2xl shadow-xl;
}

.richtext hr {
    @apply border-gray-300 my-8;
}

.richtext ul,
.richtext ol {
    @apply my-3 space-y-1;
}

.richtext ul li,
.richtext ol li {
    @apply my-0.5;
}


/* Style pour les liens de contact */
.richtext a[href^="tel:"],
.richtext a[href^="mailto:"] {
    @apply text-interaction-default hover:underline font-normal;
}